<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/">Home</a></li>
    <li><a ng-href="http://www.github.com/hadimichael">Source</a></li>
  </ul>
  <h3 class="text-muted">News on Glass</h3>
</div>

<div class="jumbotron">
  <h1>News snippets for Glass</h1>
  <p class="lead">
    This is a Mirror API demo app that will deliver news snippets for Google glass.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/login">Get started!</a></p>
</div>

<div class="footer">
  <p>Made with love by <a href="http://twitter.com/hadi_michael">@hadi_michael</a></p>
</div>
